<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Add a new bird species</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Add a new bird species</h1>

    <form th:action="@{/bird/new}" method="post" th:object="${bird}">
        <input type="hidden" th:field="*{birdId}">
        <table>
            <tr>
                <td><label for="speciesField">Species</label></td>
                <td><label for="genusField">Genus</label></td>
                <td><label for="birdFoodField">Bird food used</label></td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="speciesField" th:field="*{birdSpecies}" />
                </td>
                <td>
                    <input type="text" id="genusField" th:field="*{birdGenus}" />
                </td>
                <td>
                    <select id ="birdFoodField" th:field="*{birdFoods}" multiple>
                        <option th:each="birdfood : ${allBirdFood}"
                                th:text="${birdfood.birdFoodName}"
                                th:value="${birdfood.birdFoodId}">
                        </option>
                    </select>
                </td>

            </tr>
        </table>

        <input type="submit" value="Save bird" />
    </form>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
