<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all birds</title>
</head>
<body>

<h1>Overview of all birds </h1>

<table>
    <tr>
        <th>Bird Species</th>
        <th>Bird Genus</th>
    </tr>
    <tr th:each="bird : ${allBirds}">
        <td th:text="${bird.birdSpecies}"></td>
        <td th:text="${bird.birdGenus}"></td>
    </tr>
</table>

<p>
    <a th:href="@{/bird/new}">Add a new bird species</a>
</p>


</body>
</html>