<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Overview of all birds</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all birds </h1>

    <table>
        <tr>
            <th>Bird Species</th>
            <th>Bird Genus</th>
            <th>Bird food</th>
            <th>Highscore</th>
            <th>Total Sightings</th>

        </tr>
        <tr th:each="bird : ${allBirds}">
            <td><a th:href="@{/bird/details/{birdSpecies}(birdSpecies =${bird.birdSpecies})}" th:text="${bird.birdSpecies}"></a></td>
            <td th:text="${bird.birdGenus}"></td>
            <td th:text="${bird.birdFoods}"></td>
            <td th:text="${bird.mostObservedCopiesInADay}"></td>
            <td th:text="${bird.totalNumberOfCopies}"></td>

            <td><a th:href="@{/copy/new/{birdSpecies}(birdSpecies = ${bird.birdSpecies})}">Add copy</a></td>
            <td></td>
            <td><a th:href="@{/bird/edit/{birdSpecies}(birdSpecies =${bird.birdSpecies})}">Edit bird</a></td>
        </tr>
    </table>

    <p>
        <a th:href="@{/bird/new}">Add a new bird species</a>
    </p>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>